@page "/designOfElements"
@rendermode InteractiveAuto

<PageTitle>Расстановка</PageTitle>

<div class="iframe-background">
    <h1>Симулятор расстановки элементов интерьера</h1><br>
    <iframe src="index.html" width="1980" height="1140"</iframe>
</div>

@code
{
  
}