@page "/designOfElements"

<PageTitle>Расстановка</PageTitle>

<h1 style="margin-top: 10px; text-align: center;">Симулятор расстановки элементов интерьера</h1>

@*
    <iframe src="unity/index.html" 
            frameborder="0" 
            allowfullscreen> 
</iframe> 
*@

@*<div class="iframe-container">
    <iframe src="unity/index.html"
            frameborder="0" 
                 allowfullscreen> 
     </iframe> 
 </div>*@

<div class="iframe-container">
    <iframe src="unity/index.html";
            frameborder="0"
            allowfullscreen>
    </iframe>
</div>

